@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto');



body{
	width: 2525px;
		height: 1700px;
	
}

header{
	width: 2525px;
		height: 70px;
			text-align: center;
				font-size: 50px;
					font-family: "Roboto";
						text-shadow: 5px 2px grey;
						
}

aside{
	width: 2475px;
		height: 1500px;
			margin-left: 25px;
				margin-top: 50px;
					border: thin solid;
				
				
}

header2{
	height: 70px;
		font-size: 50px;
			font-family: "Roboto";
				margin-left: 30px;
					
	
}

.img{
	width: 600px;
		height: 325px;
			float: left;
				margin-left: 168.75px;
					margin-top: 115px;
						filter: grayscale(90%);
							transition-duration: 1.5s;
								box-shadow: 0px 0px 25px;
									border-width: thin;
										border-style: solid;
											border-color: black;
												color: black;
}

.img:hover{
	filter: grayscale(0%)
	
}

footer{
	font-size: 35px;
		text-align: center;
			color: white;
				background: black;
					height: 50px;
						transition-duration: 1s;
	
}		

footer:hover{
	background-color: white;
		color: black;
			
	
}

a{
	text-decoration:none;
	
}
	

@media only screen and (max-width: 1340px) {
/* For desktop: */
    
	
body{
	width: 1298px;
		height: 1860px;	
	
}

	
header{
	width: 1262.5px;
		height: 35px;
			text-align: center;
				font-size: 25px;
					font-family: "Roboto";
						text-shadow: 2px 1px grey;	
	
}
	
	
aside{
	width: 1237.5px;
		height: 1850px;
			margin-left: 12.5px;
				margin-top: 25px;
					border: thin solid;
					
}
	
	
header2{
	height: 70px;
		font-size: 25px;
			font-family: "Roboto";
				margin-left: 30px;
	
}
	
	
.img{
	width: 600px;
		height: 325px;
			float: left;
				margin-left: 12.5px;
					margin-top: 25px;
						filter: grayscale(90%);
							transition-duration: 1.5s;
								box-shadow: 0px 0px 25px;
									border-width: thin;
										border-style: solid;
											border-color: black;	
												color: black;
}
	
	
.img:hover{
	filter: grayscale(0%)
	
}
	
	
footer{
	font-size: 35px;
		text-align: center;
			color: white;
				background: black;
					height: 50px;
						transition-duration: 1s;
	
}		

footer:hover{
	background-color: white;
		color: black;
			
	
}

a{
	text-decoration:none;
	
}
		
}


@media only screen and (max-width: 700px) {
/* For smallscreen: */
    
	
body{
	width: 650px;
		height: 3400px;	
	
}

	
header{
	width: 650px;
		height: 20px;
			text-align: center;
				font-size: 18px;
					font-family: "Roboto";
						text-shadow: 2px 1px grey;	
	
}
	
	
aside{
	width: 650px;
		height: 3400px;
			margin-left: 20px;
				margin-top: 10px;
					border: thin solid;
					
}
	
	
header2{
	height: 25px;
		font-size: 23px;
			font-family: "Roboto";
				margin-left: 30px;
	
}
	
	
.img{
	width: 600px;
		height: 325px;
			float: left;
				margin-left: 12.5px;
					margin-top: 40px;
						filter: grayscale(90%);
							transition-duration: 1.5s;
								box-shadow: 0px 0px 25px;
									border-width: thin;
										border-style: solid;
											border-color: black;	
												color: black;
}
	
	
.img:hover{
	filter: grayscale(0%)
	
}
	
	
footer{
	font-size: 35px;
		text-align: center;
			color: white;
				background: black;
					height: 50px;
						transition-duration: 1s;
	
}		

footer:hover{
	background-color: white;
		color: black;
			
	
}

a{
	text-decoration:none;
	
}
		
}











