@charset "utf-8";
/* CSS Document */

#container{
	width: 2500px;
		height:3500px ;
			border-color: black;
				border-width: thick;
					border-style: solid;

}


section{
	width:2550px;
		height: 200px;
			background:#000000;
				color: aliceblue;
				 	font-size: 80px;
						
	
}


img{
	
		margin-top: 75px;

}